<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | VibeCity</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
       <%= render 'layouts/footer' %>
       <%= image_tag 'vibecity.jpg', width: 20, height: 20, alt: 'grinder'%>
      <%= yield %>
    </div>

</body>
</html>
